#portfolio {
  img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
  }
  .container {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      li {
        margin-right: 10px;
      }
    }
  }
  .nav-item {
    .nav-link {
      padding: 3px 20px;
      border: 1px solid #0275d8;
      margin-bottom: 10px;
    }
  }
}
