.navbar {
  &-brand {
    #logo {
      width: 70px !important;
    }
  }

  .nav-item {
    padding: 10px 0 10px 25px;
  }
  .nav-link {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
  }
}

@media (max-width: 992px) {
  .navbar {
    &-brand {
      #logo {
        width: 50px !important;
      }
    }
  }
}
